<div class="article grid-item item-s-12 item-m-6 padding-top-small padding-bottom-small">
  {% if article.image %}
  <div class="margin-bottom-micro">
    <img src="{{ article | img_url: 'grande' }}" />
  </div>
  {% endif %}
  <span>{{ article.published_at | date: '%m/%d/%C%y' }}</span>
  <h2 class="font-uppercase margin-bottom-tiny">{{ article.title }}</h2>
  {{ article.content }}
</div>
