<div class="grid-row center-border full-height">
  <div class="grid-item item-s-6 desktop-only">
  {% for article in blog.articles %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 1 %}
      {% include 'article-program' %}
    {% endif %}
  {% endfor %}
  </div>

  <div class="grid-item item-s-12 mobile-only">
  {% for article in blog.articles %}
    {% include 'article-program' %}
  {% endfor %}
  </div>

  <div class="grid-item item-s-6 desktop-only">
  {% for article in blog.articles %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 0 %}
      {% include 'article-program' %}
    {% endif %}
  {% endfor %}
  </div>
</div>
