{% assign month = '' %}
{% assign year = '' %}
{% assign count = 0 %}

  <div class="grid-item item-s-6 desktop-only border-{{ columnBorder }}-half grid-row no-gutter">
    <div class="u-hidden">

{% for article in blog.articles %}
  {% assign newMonth = article.published_at | date: '%B' %}
  {% assign newYear = article.published_at | date: '%y' %}

  {% if month != newMonth or year != newYear %}
  {% comment %} New month {% endcomment %}

    {% if count == 0 or mod != 1 %}
    {% comment %} Close hidden <div> or last month {% endcomment %}
    </div>
    {% endif %}

    {% assign count = count | plus: 1 %}
    {% assign mod = count | modulo: 2 %}

    {% assign month = newMonth %}
    {% assign year = newYear %}

    {% if mod == modCheck %}
    {% comment %} Is Even/Odd month {% endcomment %}

    <div class="donation-holder grid-item item-s-12 grid-row no-gutter font-uppercase border-bottom padding-bottom-small">
      <div class="donation-month-holder grid-item item-s-12 no-gutter grid-row padding-top-small padding-bottom-small margin-bottom-small border-bottom">
        <div class="donation-month grid-item item-s-6 offset-s-2">
          <h2 class="font-size-mid">{{ month }} '{{ year }}</h2>
        </div>
      </div>
      {% include 'article-donations' %}

    {% endif %}

  {% else %}
    {% if mod == modCheck %}
    {% comment %} Same month {% endcomment %}
      {% include 'article-donations' %}
    {% endif %}
  {% endif %}

{% endfor %}
    </div> {% comment %} Close final month {% endcomment %}
  </div>
