<div class="grid-row full-height">

{% comment %} Mobile blog {% endcomment %}

  <div class="grid-item item-s-12 mobile-only grid-row no-gutter">
    <div class="u-hidden">

{% for article in blog.articles %}
  {% assign newMonth = article.published_at | date: '%B' %}
  {% assign newYear = article.published_at | date: '%y' %}

  {% if month != newMonth or year != newYear %}
  {% comment %} New month {% endcomment %}

    </div>

    {% assign month = newMonth %}
    {% assign year = newYear %}

    <div class="donation-holder grid-item item-s-12 grid-row no-gutter font-uppercase border-bottom padding-bottom-small">
      <div class="donation-month-holder grid-item item-s-12 no-gutter grid-row padding-top-small padding-bottom-small margin-bottom-small border-bottom">
        <div class="donation-month grid-item item-s-6 offset-s-2">
          <h2 class="font-size-mid">{{ month }} '{{ year }}</h2>
        </div>
      </div>
      {% include 'article-donations' %}

  {% else %}
    {% include 'article-donations' %}
  {% endif %}

{% endfor %}
    </div> {% comment %} Close final month {% endcomment %}
  </div>

{% comment %} Desktop blog. Months are split even/odd between columns {% endcomment %}

  {% comment %} modCheck is modulo to compare counter against {% endcomment %}

  {% assign modCheck = 1 %}
  {% assign columnBorder = 'right' %}
  {% include 'blog-donations-column' %}

  {% assign modCheck = 0 %}
  {% assign columnBorder = 'left' %}
  {% include 'blog-donations-column' %}

</div>
