$header-height = 83px

.full-height
  min-height: calc('100vh - ' + $header-height)

.center-border
  & > div:first-child
    border-right: 1px solid $color-black

  & > div:last-child
    border-left: 1px solid $color-black

.center-border-reversed
  & > div:first-child
    border-left: 1px solid $color-black
  & > div:last-child
    border-right: 1px solid $color-black

// HEADER

#menu-nav
  border-right: $border-style

#main-content
  margin-top: $header-height

.dropdown-icon-holder
  text-align: center

// PRODUCT

#product-details-column
  border-top: 0
  order: -1
  align-self: initial

#product-details-header
  cursor: default

#product-details-holder
  flex-basis: auto
  flex-grow: 1

#product-details
  height: auto
  flex-basis: auto
  flex-grow: 1

.hide-details
  display: none

.show-details
  display: none

#product
  &.details-active
    #product-details
      height: auto
      flex-basis: auto
      flex-grow: 1
    .hide-details
      display: none
    .show-details
      display: none

.product-gallery-item
  padding: 0 $margin-small
  img
    max-width: 30vw

.gallery-prev
  left: $margin-basic

.gallery-next
  right: $margin-basic

.slick-dots
  margin-top: $margin-tiny
  li
    margin: 0 $margin-micro

// ABOUT

#page-about-content
  padding-bottom: $margin-small

#page-about-contact
  text-align: center
  align-self: center
