$header-height = 73px
$header-and-title-height = 72px + $header-height 

.full-height
  min-height: calc('100vh - ' + $header-height)

.full-height-after-title
  min-height: calc('100vh - ' + $header-and-title-height)

// HEADER

#main-content
  margin-top: $header-height

// PRODUCT

.product-gallery-item
  padding: 0 $margin-small

.gallery-prev
  left: $margin-basic

.gallery-next
  right: $margin-basic

.slick-dots
  margin-top: $margin-tiny
  li
    margin: 0 $margin-micro
