<section id="blog">
  <div class="container">
    <div class="grid-row">
      <div class="grid-item item-s-12 padding-top-small padding-bottom-small border-bottom">
        <h1 class="font-uppercase text-align-center font-size-mid">{{ blog.title }}</h1>
      </div>
    </div>

  {% if blog.title == 'Program' %}
    {% include 'blog-program' %}

  {% else if blog.title == 'Donations' %}
    {% include 'blog-donations' %}

  {% else %}
    <div class="grid-row">
      {% for article in blog.articles %}
        <div class="article grid-item">
          <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
        </div>
      {% endfor %}
    </div>

  {% endif %}
  </div>
</div>
